
@{
    ViewBag.Title = "OrderError";
}

<h2>Oops!! You have some order with that drink!  Handle that first!</h2>
<br />
<br />
<div>
    @Html.ActionLink("Back to Orders", "Index", "ordersAdmin")
</div>
<br />
<div>
    @Html.ActionLink("Back to Drinks", "Index", "drinksAdmin")
</div>
<br />
<br />
<div>
    @Html.ActionLink("Log out", "Logout", "drinksAdmin")
</div>

