
@{
    ViewBag.Title = "StockError";
}

<h2>Oops!! You don't have enough drinks on stock!  Get some!</h2>

<div>
    @Html.ActionLink("Back to Orders", "Index", "ordersAdmin")
</div>
<br />
<br />
<div>
    @Html.ActionLink("Log out", "Logout", "drinksAdmin")
</div>